ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2A545F;
}
uli {
	float: left;
}
uli a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
uli a:hover {
	background-color: #111;
}
font { 
	font-family: "Colibri", "Comic Sans";
	font-size: 16px;
	color:white;
}
.font2 { 
  font-family: "Colibri", "Comic Sans";
	font-size: 20px;
	color:black;
}
.bloco {
	background:white;
	background:rgba(255,255,255,0.6);
	height: 430px;
}
strong {
  font-family: "Colibri", "Comic Sans"
}
.fundodiv {
  background-color: #2A545F;
  color: white;
  padding: 10px;
  opacity: 0.7;
}
.tamanho {
	background-image: url(../Imagens/evr_wallpaper.png);
	max-width:100%;
}
.active {
	background-color: grey;
}
.desactive {
	color: red;
}
.botao {
  background-color: transparent;
  border: none;
}
.linha {
  border: 5px solid black
}
